<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Latest compiled and minified Bootstrap 3.4.1 CSS -->
    <link
      rel="stylesheet"
      href="https://bootswatch.com/3/slate/bootstrap.min.css"
    />
    <!-- custom css -->
    <link rel="stylesheet" href="/css/main.css" />

    <title>WEB322 - Assignment 3</title>
  </head>
  <body>
    {{! <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand">
            <a href="https://github.com/Festus-Osayi" target="_blank"
              >WEB322 - Festus Osayi</a
            >
          </span>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/blog" target="_blank">Blog</a></li>
            <li class="active" target="_blank"><a href="/about">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/posts" target="_blank">Posts</a></li>
            <li><a href="/categories" target="_blank">Categories</a></li>
            <li><a href="/posts/add" target="_blank">Add Post</a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav> }}
    <div class="container" style="padding-top: 60px">
      <div class="row">
        <section class="main col-md-9">
          <article>
            <h2>About</h2>
            <div class="about-me">
              <div class="list-items">
                <h4>Short description</h4>
                Student Name: Festus Osayi Student Number: 170276216 Student
                Email: Fosayi@myseneca.ca
              </div>
              <div class="list-items">
                <h4>Skills</h4>
                JavaScript Html Css C++ Linux Python Oracle
              </div>
              <div class="list-items">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                accumsan libero a sem venenatis pharetra. Nulla facilisi. In
                semper blandit arcu. Nullam vitae sem convallis, vehicula nisi
                eu, hendrerit justo. Pellentesque libero neque, interdum nec
                diam bibendum, tristique pellentesque felis. Sed vel adipiscing
                lacus. Maecenas porta dolor a turpis aliquet, eget posuere nisi
                fringilla. Aenean ac turpis tristique, feugiat mi sodales,
                laoreet neque. Donec tristique nec quam sit amet sagittis.
                Mauris elementum ullamcorper risus at luctus.
              </div>

              <div class="list-items">
                <h4>Education <i class="fa-solid fa-school"></i></h4>
                <p>Completed 2021</p>
                <p>Holy child Secondary school</p>
                <p>Awaiting 2022-2023</p>
                <p>Seneca College</p>
              </div>

              <div class="list-items">
                <h4>Favourite Technolgy</h4>
                Swimming Pool - Purification Systems. Solar Energy Systems.
                Shock - Absorbing Helmets. Portable X - Ray Devices. Energy
                Saving Air Conditioning.
              </div>

              <div class="list-items">
                Duis egestas cursus diam, ut volutpat tortor mattis tempor. In
                et imperdiet turpis. Proin aliquet, lectus ultrices fringilla
                lobortis, purus risus imperdiet neque, eget consectetur ligula
                quam non arcu. Curabitur vitae posuere elit, in faucibus felis.
                Suspendisse vitae nisl eget ligula condimentum bibendum in ut
                nulla. Etiam non lacinia turpis. Aliquam placerat est vestibulum
                turpis pretium elementum. Integer pharetra gravida massa, at
                aliquam turpis pulvinar sit amet. Nam a lectus sed mauris
                suscipit commodo a non ipsum. Aenean dapibus porttitor massa
                vitae auctor.
              </div>
            </div>
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming Soon</h2>
          <p>
            "Stay tuned for future updates and creating more sophistacated web
            apps. Cheers. Additionally, I can't wait to start using my knowledge
            and experienced from Seneca College, into solving real world
            problems. Gracias.
          </p>
        </aside>
      </div>
    </div>
    <footer class="custom-footer">
      <h4>Festus Osayi</h4>
      <p>
        I created this website as a part of my 4th assignment for WEB322 Course
        at Seneca College, Toronto<br />
        <span>Copyright&copy; 2023</span>
      </p>
    </footer>
    <!-- Latest compiled and minified jQuery 3.6.0 JavaScript -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    <!-- Latest compiled and minified Bootstrap 3.4.1 JavaScript -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
      integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
      crossorigin="anonymous"
    ></script>
  </body>
</html>