<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- bootsrap css.. -->
    <link
      rel="stylesheet"
      href="https://bootswatch.com/3/slate/bootstrap.min.css"
    />

    <!-- custom css.. -->
    <link rel="stylesheet" href="/css/main.css" />

    <title>WEB322 - Assignment</title>
  </head>
  <body>
    
    <div class="container" style="padding-top: 60px">
      <div class="row">
        <div class="row">
          <div class="col-md-12">
            <h2>Add Category</h2>

            <br />

            <form
              method="post"
              action="/categories/add"
            >
              <fieldset>
                      <label for="category">Category:</label>
                      <input
                        class="form-control"
                        id="category"
                        name="category"
                        type="text"
                        autofocus
                      />
                    </div>
                  </div>
                </div>
              <hr />

              <input
                type="submit"
                class="btn btn-primary pull-right"
                value="Add Category"
              /><br /><br /><br />
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Latest compiled and minified jQuery 3.6.0 JavaScript -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    <!-- Latest compiled and minified Bootstrap 3.4.1 JavaScript -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
      integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
