body {
    margin: 0;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;

} */

/* 

.container {
    padding-top: 10px
}

/* navigation link */

/* ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    padding: 10px;
} */

/* li {
    float: left;
}

li a {
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} */


/* Change the link color to #111 (black) on hover */
/* li a:hover {
    background-color: lightblue;
    color: black;
    text-decoration: overline orange;
}

.active {
    background-color: #4CAF50;
}

.extern-container {

    margin-top: 100px;
    text-align: center;
}

.extern-container>h1 {

    color: darkslateblue;
    margin-bottom: 0px;
}

.extern-container>p,
h1 {
    font-weight: bold;
}

p>a {
    background-color: orange;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    padding: 10px 19px;
}


.wrapper>p {
    padding: 20px;
}

.about-me {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 200px 200px auto;
}

 
div>h4 {
    color: darkslateblue;
}

aside>p {
    font-weight: 500;
} */

/* setting up the Footer */
/* .custom-footer {
    margin-top: 20px;
    /* background: #333; */
    /* width: 100%;
    padding: 20px 60px;
} */ 

/* .custom-footer h4 {
    color: orange;
    margin-bottom: 25px;
    font-weight: 800;
}

.custom-footer p {
    color: goldenrod;
    margin-bottom: 20px;
}

.custom-footer p span {
    color: #cf11bc;
    font-weight: 800;
}


.list-group{
    display: block;
}




/* main css for assignment 5 */
.about-me {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 50px 50px auto;
}

.list-items {
    
    background-color: darkslategray;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;

}

.controller{
    display: flex;
    justify-content: space-between;
}

.overriden{
    border: none;
    background-color: transparent;
}







